*{
    margin: 0;
    padding: 0;
}
:root{
    --primary-color:#00c8ff;
    --text-color:#5e00ca;
    --primary-font:'Courier New', Courier, monospace;
    --font-secondary:'Times New Roman', Times, serif;
}
header{
    background-color: aqua;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    font-size: 1.2rem;
}
 nav ul{
    list-style-type: none;
    display: flex;
    gap:10px;
}
#hero-section{
    height: 50vh;
    background-image:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9)), 
    url('photographer.jpg');    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    color: var(--primary-color);
    line-height: 1.4;
    font-family: var(--primary-font);
}
#hero-section .services-box{
    font-size: 1.2em;
}   
main form{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font-secondary);
    color: var(--text-color);
}
main form input,textarea{
    height: 30px;
    width: 600px;
}
footer > div{
    display: flex;
    justify-content: space-around;
}
footer #c{
    margin-top: 20px;
}
@media(max-width: 768px){
    #hero-section{
        display: block;
    }
    main form input,textarea{
        width: 400px;
    }
}
